.App {
  text-align: center;
  background-color: #FBFBFB;
  scroll-snap-type: y mandatory;

}

body {
  margin: 0;
}



.child {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.pic-page {
  position: relative;
}


form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0.8;
  border-bottom: 5px dashed #c3c3c3
}

h2 {
  font-family: Gabriele;
  font-size: 400%;
  position: absolute;
  opacity: 0.5;
}

textarea {
  width: 95vw;
  height: 90vh;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  resize: vertical;
  opacity: 0.95;
  border: 0px solid white;
  background-color: rgba(240, 240, 240, 0.0);
  z-index: 4;
}

textarea:focus, input:focus{
  outline: none;
}

.textField {
  font-size: 5.6vw;

}

.inputButton {
  position: absolute;
  right: 3vh;
  bottom: 3vh;
  border-radius: 50%;
  border: 2px solid black;
  height: 20vw;
  width: 20vw;
  z-index: 2;
  font-size: 5vw;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-family: Gabriele;
    box-shadow: 2px 2px 2px black;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  font-family: 'Roboto Mono', monospace;
  padding: 2em;
  border: 2px dashed black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

@font-face {
  font-family: 'Gabriele';
  font-style: normal;
  font-weight: 400;
  src: url('./type1.ttf'); /* IE9 Compat Modes */
  src: local('Gabriele'), local('Gabriele'),
       url('./type1.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('./type1.ttf') format('woff2'), /* Super Modern Browsers */
       url('./type1.ttf') format('woff'), /* Modern Browsers */
       url('./type1.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./type1.ttf') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Silvery';
  font-style: normal;
  font-weight: 400;
  src: url('./type1.ttf'); /* IE9 Compat Modes */
  src: local('Silvery'), local('Silvery'),
       url('./type2.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./type2.ttf') format('woff'), /* Modern Browsers */
       url('./type2.ttf') format('woff2'), /* Super Modern Browsers */
       url('./type2.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./type2.ttf') format('svg'); /* Legacy iOS */
}

