form,
textarea,
nav{
  width: 100%;
  height: 100%;
}

section,
.app {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

.form__textarea,
.form__upload,
.page__date {
  font-family: 'Roboto Mono', monospace;
}

h1,
label {
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 0.09em;
}

h1 {
  position: fixed;
  z-index: 5;
  text-shadow: -0.05em 0 0 #F22613, 0.05em 0 0 #00FFFF;
  margin: 5vw;
  text-align: left;
  line-height: 90%;
  color: #3258A6;
}

h2 {
  font-family: Gabriele, Helvetica, serif;
  position: absolute;
  opacity: 0.5;
  top: 0;
  color: #3258A6;
}

p {
  margin: 0;
  font-size: 5.2vw;
}

textarea {
  overflow: hidden;
  resize: vertical;
  opacity: 0.95;
  border: 0 solid white;
  background-color: rgba(240, 240, 240, 0.0);
  z-index: 4;
  line-height: 5.4vw;
  overflow-y: scroll;
  margin-top: 5vw;
}

textarea:focus, input:focus{
  outline: none;
}

section {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2BDC7;
}


label {
  cursor: pointer;
  text-shadow: -0.05em 0 0 #F22613, 0.05em 0 0 #00FFFF;
  margin: 5vw;
  text-align: left;
  line-height: 90%;
  color: #3258A6;
}

li {
  list-style-type: none;
}

li > a > img {
  fill: darkred;
  width: 30px;
  height: 30px;
  margin: 30px;
}

ul {
  display: flex;
  flex-direction: row;
}

i {
  color: #075A20;
}

form {

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}


#app {
  text-align: center;
  scroll-snap-type: y mandatory;
  background-color: #F2BDC7;
}


#form__upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.page__shape {
  padding: 5vw 2vw 2vw 2vw;
  scroll-snap-align: start;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: white;
  border-top: 1px dashed #F2BDC7;
  border-bottom: 1px dashed #F2BDC7;
}

.page__shape--text {
  width: 90%;
}

.page__shape--photo {
  width: 80%;
}

.page__date {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.page__photo {
  width: 90%;
  height: auto;
  filter: grayscale(100%) brightness(0.8) contrast(200%);
}

.page__arrow {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
}

.page__arrow::after,
.page__arrow::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 4px
}

.page__arrow::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 7px
}

.page__arrow::before {
  width: 2px;
  height: 16px;
  left: 10px;
  background: currentColor
}

.page__arrow--down {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

.page__arrow--right {
  transform: rotate(90deg);
  animation: slide2 1s ease-in-out infinite;
}

.page__arrow--left {
  animation: slide3 1s ease-in-out infinite;
}

.form__textarea {
  display: block;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  font-size: 5.2vw;
}

.form__upload {
  padding: 2em;
}

.footer__navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3vh 0;
  padding: 0;

}

.footer__button {
  /*position: fixed;*/
  text-align: center;
  font-weight: bold;
  /*right: 3vh;*/
  /*bottom: 3vh;*/
  border-radius: 50%;
  border: 2px solid #3258A6;
  height: 20vw;
  width: 20vw;
  z-index: 10;
  font-size: 4.5vw;
  letter-spacing: 0.09em;
  background-color: #F2E205;
  color: #3258A6;
  box-shadow: 2px 2px 2px black;
}

.footer__button:active {
  box-shadow: 1px 1px 1px black;
  transform: translateY(3px);
}

.footer__indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #075A20;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

@keyframes slide1 {
  0%,
  100% { transform: translate(0, 0); }
  50% { transform: translate(0, 10px); }
}

@keyframes slide2 {
  0%,
  100% { transform: translate(0, 0) rotate(-90deg); }
  50% { transform: translate(-10px, 0) rotate(-90deg); }
}

@keyframes slide3 {
  0%,
  100% { transform: translate(0, 0) rotate(90deg); }
  50% { transform: translate(10px, 0) rotate(90deg); }
}


@font-face {
  font-family: 'Gabriele';
  font-style: normal;
  font-weight: 400;
  src: url('./type1.ttf');
  src: local('Gabriele'), local('Gabriele'),
  url('./type1.ttf') format('embedded-opentype'),
  url('./type1.ttf') format('woff2'),
  url('./type1.ttf') format('woff'),
  url('./type1.ttf') format('truetype'),
  url('./type1.ttf') format('svg');
}

@font-face {
  font-family: 'Silvery';
  font-style: normal;
  font-weight: 400;
  src: url('./type1.ttf');
  src: local('Silvery'), local('Silvery'),
  url('./type2.otf') format('embedded-opentype'),
  url('./type2.ttf') format('woff'),
  url('./type2.ttf') format('woff2'),
  url('./type2.ttf') format('truetype'),
  url('./type2.ttf') format('svg');
}

