.App {
  text-align: center;
  background-color: #FBFBFB;
  scroll-snap-type: x mandatory;

}

body {
  margin: 0;
}



.child {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.pic-page {
  position: relative;
}


form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0.8;
}

textarea {
  width: 95vw;
  height: 90vh;
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  resize: vertical;
  opacity: 0.95;
  border: 0px solid white;
  background-color: rgba(240, 240, 240, 0.0);
  z-index: 4;
}

textarea:focus, input:focus{
  outline: none;
}

.textField {
  font-size: 5.6vw;

}

.inputButton {
  position: absolute;
  right: 3vh;
  bottom: 3vh;
  border-radius: 50%;
  border: 2px solid black;
  height: 20vw;
  width: 20vw;
  z-index: 2;
  font-size: 5vw;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  font-family: 'Roboto Mono', monospace;
    box-shadow: 2px 2px 2px black;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

